* {
  /* border: 0.1px dotted green; */
  font-family: "Uncial Antiqua", system-ui;
}

body {
  background-image: url("home_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

#userNavList,
#adminNavList {
  font-size: 0.8em;
}

#userDisplay,
#adminDisplay {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  text-align: center;
}

.border-gold {
  border: 0.1em solid #a19b81;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.profile-img {
  max-width: 100%;
  min-width: 150px;
  max-height: 250px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 3px solid #a19b81;
}

/* .card {
  width: 90%;
  margin: 10px auto;
} */
